<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.mmf.business,
                                          com.mmf.db,
                                          com.mmf.rest"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="persistence"/>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <!-- Spring security settings-->
    <security:http pattern="/rest/bsu/mmf/**" create-session="never" auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/rest/bsu/mmf/**" access="hasAnyRole('EDITOR')" />
        <security:http-basic />
    </security:http>

    <security:global-method-security secured-annotations="enabled" />

    <!--<security:http auto-config="true">-->
        <!--<security:intercept-url pattern="/Login.html" />-->
        <!--<security:intercept-url pattern="/**" />-->
        <!--<security:form-login login-page="/Login.html"-->
                             <!--default-target-url="/"-->
                             <!--authentication-failure-url="/Login.html"/>-->
    <!--</security:http>-->

    <!--<security:authentication-manager alias="authenticationManager">-->
        <!--<security:authentication-provider ref="remoteProvider" />-->
    <!--</security:authentication-manager>-->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="user" password="user" authorities="EDITOR" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>