body {
	min-width: 1024px; min-height: 100%; font-family: "Trebuchet MS"; color: #363636; background: url("../images/background_pattern.png");
}
a {
    text-decoration: none;
}
.main-container {
	position: relative; height: auto !important; height: 100%; min-height: 100%;
}
.main-section {
	margin: 20px; background: #FFF;
	box-shadow: 0 0 3px #303030;
	-moz-box-shadow: 0 0 3px #303030;
	-webkit-box-shadow: 0 0 3px #303030;
}
.page-head {
	margin: 0 0 18px; margin-left: -1px; padding-left: 18px; position: relative; top: 18px; text-transform: uppercase;
	font-size: 24px; line-height: 42px; background: url("../images/minimal_ribbon.png") repeat-y left top;
}
.page-head.green {
    background: url("../images/minimal_ribbon_green.png") repeat-y left top;
}
.page-head .clock {
	width: 15px; height: 15px; display: inline-block; background: url("../images/clock.png") no-repeat;
	vertical-align: top; margin-top: 4px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/**
 *
 * Admin page
 *
 **/

.admin {
    padding-top: 40px; position: relative;
}
.admin .top-line {
    height: 28px; border-top: 2px solid #c8d9bb; background: #0b0b0b;
}
.admin .top-line .left {
    width: 15%; height: 28px; float: left; background: url("../images/logo.png") no-repeat center;
}
.admin .top-line .right {
    width: 85%; height: 28px; float: left; background: #363636;
}
.admin .body-line {
    width: 100%; position: absolute; top: 70px; bottom: 0px;
}
.admin .body-line .left {
    width: 15%; height: 100%; float: left; background: url("../images/leftmenu_bg.png") repeat-y;
}
.admin .body-line .right {
    width: 85%; height: 100%; float: left; background: #fff; overflow-y: auto;
}
.admin .body-line .right .indent{
    padding: 20px;
}
.admin .tab-menu{
    margin: 0; padding: 0; list-style-type: none;
}
.admin .tab-menu li{
    height: 46px; padding: 0 10px 0 20px; text-transform: uppercase; font-size: 12px; font-weight: bold; line-height: 46px;
    overflow: hidden; text-overflow: ellipsis; cursor: pointer; position: relative;
}
.admin .tab-menu li span{
    width: 18px; height: 46px; background: url("../images/active_tab_arrow.png") no-repeat right center;
    position: absolute; right: 0; top: 0; display: none;
}
.admin .tab-menu li.active span{
    display: block;
}
.admin .tab-menu li a{
    display: block; height: 46px; overflow: hidden; text-overflow: ellipsis; cursor: pointer;
    text-decoration: none; color: #363636; padding-left: 25px;
}
.admin .tab-menu li.active{
    background: url("../images/active_tab_item.png") no-repeat left top;
}
.admin .tab-menu li.active a{
    color: #fff;
}
.admin .tab-menu li a.group{
    background: url("../images/groups.png") no-repeat left center;
}
.admin .tab-menu li.active a.group{
    background: url("../images/groups_active.png") no-repeat left center;
}
.admin .tab-menu li a.subj{
    background: url("../images/subject.png") no-repeat left center;
}
.admin .tab-menu li.active a.subj{
    background: url("../images/subject_active.png") no-repeat left center;
}
.admin .tab-menu li a.dep{
    background: url("../images/department.png") no-repeat left center;
}
.admin .tab-menu li.active a.dep{
    background: url("../images/department_active.png") no-repeat left center;
}
.admin .tab-menu li a.lect{
    background: url("../images/lecturer.png") no-repeat left center;
}
.admin .tab-menu li.active a.lect{
    background: url("../images/lecturer_active.png") no-repeat left center;
}
.admin .tab-menu li a.aud{
    background: url("../images/audience.png") no-repeat left center;
}
.admin .tab-menu li.active a.aud{
    background: url("../images/audience_active.png") no-repeat left center;
}

/**
 *
 * Tabs
 *
 **/

.admin .group-tab .fieldset input[type="text"]{
    width: 93.5%;
}
.admin .group-tab .form{
    width: 25%; float: left;
}
.admin .group-tab .groups{
    width: 70%; float: right;
}
.admin .group-tab .groups h3{
    color: #363636; margin: 0; font-size: 18px; border-bottom: 1px solid #363636; text-transform: uppercase;
}
.admin .group-tab .group-line{
    margin-bottom: 30px; margin-top: 10px;
}
.admin .group-tab .group-line .group{
    height: 25px; width: 40px; padding: 5px; background: #1684d9; position: relative; color: #fff; font-size: 20px; line-height: 25px;
    float: left; margin-right: 10px;
}
.admin .group-tab .group-line .group:hover .delete{
    display: block;
}
.admin .group-tab .group-line .group .delete{
    width: 18px; height: 33px; position: absolute; right: 1px; top: 1px; background: url("../images/x.png") #fff no-repeat center;
    display: none; cursor: pointer;
}
.admin .lect-tab .group-line .group{
    width: 180px; text-overflow: ellipsis; overflow: hidden;
}

.subject-tab ul{
    width: 35%; margin: 0; padding: 0; list-style-type: none;
}
.subject-tab ul li{
    font-size: 16px; text-transform: uppercase; margin: 0 0 10px 0; padding: 5px; line-height: 40px; background: #1684d9;
}
.subject-tab ul li .edit{
    float: left; color: #fff; cursor: pointer;
}
.subject-tab ul li .edit form{
    width: 100% !important;
}
.subject-tab ul li .edit input{
    width: 100% !important; color: #000000; height: 26px !important;
}
.subject-tab ul li span{
    float: right; width: 18px; height: 40px; background: url("../images/x.png") #fff no-repeat center; cursor: pointer; display: none;
}
.subject-tab ul li:hover span{
    display: block;
}

/**
 *
 * Form elements
 *
 **/

fieldset,
div.fieldset{
	border: none; margin: 0; padding: 0 0 30px 0;
}
label{
	display: block; margin: 0 0 10px 3px; font-size: 16px; text-transform: uppercase;
}
input[type="text"],
.edit input {
	background: #FFF; border: 2px solid #BBB; margin: 5px; padding: 0 5px; line-height: 35px;
	font-family: "Trebuchet MS"; font-size: 20px;
	box-shadow: 0 0 0 5px #E0E0E0;
	-moz-box-shadow: 0 0 0 5px #E0E0E0;
	-webkit-box-shadow: 0 0 0 5px #E0E0E0;
}
input[type="button"]{
	height: 37px; background: #8BC43E; border: none; border-bottom: 2px solid #7AAC36; margin: 5px; padding: 0 5px; color: #FFF;
	line-height: 34px; font-family: "Trebuchet MS"; font-size: 20px; text-transform: uppercase; font-weight: bold;
	box-shadow: 0 0 0 5px #E0E0E0;
	-moz-box-shadow: 0 0 0 5px #E0E0E0;
	-webkit-box-shadow: 0 0 0 5px #E0E0E0;
	overflow: visible;
}
input[type="button"].blue{
	background: #34BCED; border-bottom: 2px solid #21A1DF;
}
.two-buttons input[type="button"]{
	float: left; width: 42%;
}
.two-buttons input[type="button"]:last-child{
	float: right;
}
.select-button .ui-dropdown{
	width: 34%; float: left;
}
.select-button input[type="button"]{
	width: 38%; float: right;
}
.ui-dropdown select{
	display: none;
}
.ui-dropdown{
	background: #E19E19; border-bottom: 2px solid #C68B16; margin: 15px 5px 5px; padding: 0 35px 0 10px; line-height: 35px;
	font-family: "Trebuchet MS"; font-size: 20px; position: relative;
	box-shadow: 0 0 0 5px #E0E0E0;
	-moz-box-shadow: 0 0 0 5px #E0E0E0;
	-webkit-box-shadow: 0 0 0 5px #E0E0E0;
}
.ui-dropdown .ui-dropdown-label{
	height: 35px; width: 100%; line-height: 37px; color: #FFF; text-transform: uppercase;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.ui-dropdown .ui-dropdown-items{
	width: 100%; position: absolute; left: 0; top: 35px; margin: 0; padding: 0; list-style-type: none; background: #E19E19;
	border-bottom: 2px solid #C68B16; max-height: 120px; overflow: auto;
}
.ui-dropdown .ui-dropdown-arrow{
	width: 19px; height: 19px; background: url("../images/dropdown_arrow.png") no-repeat left top;
	position: absolute; right: 10px; top: 10px; cursor: pointer;
}
.ui-dropdown-items li{
	padding: 0 10px 0 6px;
	border-left: 4px solid transparent;
}
.ui-dropdown-items a{
	color: #363636; text-transform: uppercase; font-size: 14px; cursor: pointer;
	display: block; line-height: 37px;
}
.ui-dropdown-items li:hover{
	border-left: 4px solid #363636;
}
.ui-dropdown-items::-webkit-scrollbar,
.admin .body-line .right::-webkit-scrollbar{
	width: 4px;
}
.ui-dropdown-items::-webkit-scrollbar,
.ui-dropdown-items::-webkit-scrollbar-thumb,
.admin .body-line .right::-webkit-scrollbar,
.admin .body-line .right::-webkit-scrollbar-thumb{
	overflow: visible;
}
.ui-dropdown-items::-webkit-scrollbar-thumb,
.admin .body-line .right::-webkit-scrollbar-thumb{
	background: #363636;
}

